# DS 200 Introduction to Data Science Lab 1
# Introduction to Jupyter Notebook and Tables 
# Instructor: John Yen
# TA: Rupesh Prajapati
# LA: Nathan Joel Tack

## Acknowledgement: This lab has been adopted from a lab previously developed at UC Berkeley (for the data 8 course).

## Learning Objectives
- Be able to execute Python code cells in Jupyter Notebook
- Be able to edit text cells in Jupyter Notebook
- Be able to read a file from your Google Drive
- Be able to display some content of a table

# Total points: 30 
- Exercise 1: 10 points
- Exercise 2: 3 points
- Exercise 3: 3 points
- Exercise 4: 3 points
- Exercise 5: 3 points
- Exercise 6: 8 points
# Due: 5 pm, August 31

# Part A Install and Import Datascience Module

## The first thing we need to do is to install the datascience module, which was also developed at UC Berkeley for the data 8 course.

### A module is a collection of Python code that, together, forms a code library that can be directly used by Python developer.
### Google Colab already has several modules installed.  For example, we will later use sklearn module to create decision tree models from a set of labelled data.  
### Because the datascience module is not pre-installed in Google Colab,  we need to use the following command to install it in the beginning of every Colab notebook that needs to use it.
### Complete "!pip install datascience" in the line below.  Then click the "Run" button (under the "Cell" menu item on the top row of this web page)

In [ ]:
!pip install datascience

## Import datascience module
### After we successfully install the datascience module, we can now import it.
### Importing a module enables us later to use functions (code) defined in the module.
### For Example, one of the feature of datascience module is to enable us to easily read a tabular data stored in a CSV file, process the table in various way, and visualize data in the table in multiple ways (e.g., bar chart, scatter plot, etc).

In [ ]:
from datascience import *

### Milestone 1: 
Congratulations!  You have reached your first milestone for Lab 1.

# Part B Read a Table
## In the second part of the lab, we will use a utility (Table class) of datascience module to read a CSV file that contains salary data of employees of San Francisco City.
## Source of The Data: Kaggle https://www.kaggle.com/kaggle/sf-salaries

A table is a fundamental object type for representing data sets. A table can be viewed in two ways:
* A sequence of named columns that each describe a single aspect of all entries in a data set
* A sequence of rows that each contain all information about a single entry in a data set

Each column of this table data structure must contain values of the same kind. For example, a table can have a column of integers or a column of strings. We can create a table from scratch or from a CSV file. Let's try reading a CSV file into a table.

In the Python code below, we use Table.read_table to read a CSV file called "SFSalaries2011_2014.csv".

- Note 1: We use a pair of double quotes "....." to indicate a string in Python.  Otherwise, Python may interpret it as a variable name (like salaries).
- Note 2: Table.read_table is like a function.  It takes a file name as input, and returns a Table object as its output.
- Note 3: We can use assignment (=) in Python to assign the output of the function Table.read_table to a variable (like salaries)
- Note 4: Running a line that contains only a variable results in displaying the content of the variable.

## Read Data from a file in your Google Doc

### Execute the following code cell, which lets this notebook know how to access your Google Drive (linked to your PSU account for accessing G suite, which includes Colab).
### Follow the instruction to go to the designated URL to find the "authorization code", then enter the authorization code in the field reserved for it.
### When you see "Mounted at /content/drive", that means your Google Drive is accessible from your python code in this Notebook.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## Read a Data File from your Google Drive
### A "path" is the sequence of directory (or folder) through which you can find a file in a computer.
### You can now use the path of the data file in your Google Drive to read it into this notebook by adding "content/drive/My Drive/" to the directory (e.g., "DS200Labs") that you use to store data files for labs of this course.

# Exercise 1 Read and Display Data from your Google Drive

## Exercise 1.A Set path to IMDB5000movies.csv in DS200Labs directory of My Drive in Google Drive (3 points)

In [ ]:
path="/content/drive/My Drive/???/IMDB5000movies.csv"
Moviesdata = Table.read_table(path)

## Exercise 1.B Display Table (3 points)
### To display some contents of the table, we can use .show(10) method to show the first 10 rows of the table you just red from Google Drive.
###  Notice that you need to use the variable (i.e., Moviesdata) that saves the table red in the previous code cell to display the table's content.

In [ ]:
Moviesdata.show(10)

## Exercise 1.C Display Another Table (4 points)

### You need to replace "????" with the correct variable name for the table created by reading from the SF city empoyees salary dataset.  What is the variable name?

### Exercise 5 is also about variable and assignment.  You may find it useful for completing this exercise.

In [ ]:
path2="/content/drive/My Drive/DS200Labs/SFSalaries2011_2014.csv"
salaries= Table.read_table(path2)
????.show(10)

# Milestone 2: 
If you successfully read the salary file into a table and show some of the content of the table, congratulations! You have reached Milestone 2.

# <a name="notebooks"></a>Part C Introduction to Jupyter Notebooks

Part C of this lab is intended to be a hands-on introduction to Jupyter Notebook.  You are currently working in a Jupyter Notebook. A Notebook allows text and code to be combined into one document. Each rectangular section of a notebook is called a "cell." There are two types of cells in this notebook: text cells and code cells.

## 1.1 Text Cells

Text cells (like this one) can be edited by double-clicking on them. They're written in a simple format called [Markdown](http://daringfireball.net/projects/markdown/syntax) to add formatting and section headings.  If you want to write your own notebooks, it will be useful to know the basics of Markdown.

After you edit a text cell, click the "run cell" button at the top that looks like ▶ to confirm any changes. Alternatively, you can hold down the `shift` key and then press `return` or `enter`.

# <a name="1"></a>Exercise 2 Edit a Text Cell of Jupyter Notebook (3 points)

This paragraph is in its own text cell.  Try editing it so that this sentence is the last sentence in the paragraph.  This sentence, for example, should be deleted.  So should this one. Replace this sentence here with one sentence about your self (e.g., John Yen plays the violin.).

## 1.2 Code Cells

Other cells contain code in the Python 3 language. Running a code cell will execute all of the code it contains. To run the code in a code cell, first click on that cell to activate it. Next, either click ▶ or hold down the `shift` key and then press `return` or `enter`.

Try running the two cells below.

In [ ]:
print("Hello, World!")

# Exercise 3 Print A String (3 points)
Replace "Jo Smith" below with your name.  You can also change the rest of the sentece. Run the code cell to see whether the sentence printed is what you expected.
#### Tip: "+" is used here to concatenate two strings into one.

In [ ]:
print("Jo Smith " + "likes to play with data.")

Code cells can contain multiple lines. When you run a cell with multiple lines, each line will be executed. Every print expression in the following cell prints a line. Run the next cell and notice the order of the output.


# Exercise 4 Print Two Strings (3 points)
Change the two strings below into two sentences about Penn State. Run the Cell

In [ ]:
print("First this line is printed,")
print("and then this one.")

## 1.3 Comments

Code cells can also contain text in the form of comments. Comments don't make anything happen in Python; Python ignores anything on a line after a #.  Instead, comments are there to communicate something about the code to you, the human reader.  Comments are extremely useful. The cell below contains two examples of how comments can be used.

<img src="http://imgs.xkcd.com/comics/future_self.png">

In [ ]:
# This is a comment
print("Hello, World!")    # This is also a comment

# <a name="python"></a>2. Intro to Python

Python is a language, and like natural human languages, it has rules.  It differs from natural language in at least two important ways:

1. The rules are *simple*.  You can learn most of them in a few weeks and gain reasonable proficiency with the language in a semester.
2. The rules are *rigid*.  If you're proficient in a natural language, you can understand a non-proficient speaker, glossing over small mistakes.  A computer running Python code is not smart enough to do that.

We will cover some of these rules in this lab. Because the rules are so rigid, you may come across syntax errors throughout the lab. Don't hesitate to ask a lab assistant for help if you see such errors.

## 2.1 Numbers

Quantitative information arises everywhere in data science. Python has two different types of numbers we can work with: integer and floats (aka decimals). Try running the first cell below which contains an integer.

In [ ]:
3

Notice that we didn't have to `print`. When you run a notebook cell, if the last line has a value, then Jupyter helpfully prints out that value for you. The value of the integer 3 is simply 3.

In [ ]:
3.14

Similarly, the value of the float 3.14 is simply 3.14. 

Only the value of the last line of a cell is automatically displayed. If you want to display the value of previous lines, you must explicitly do so using `print`. Notice that 3 does not get displayed when you run the cell below.

In [ ]:
print(2.5)    # The print command enables the result to be displayed after the cell is executed.
3             # The number 3 is not displayed because it is not the last line of the cell
4             # The number 4 is displayed automatically because this is the last line of the cell.

2.5

4

## 2.2 Text

Programming doesn't just concern numbers. Text is one of the most common types of values used in programs.

A snippet of text is represented by a string value in Python. The word **"string"** is a programming term for a sequence of characters. A string might contain a single character, a word, a sentence, or a whole book.

To distinguish text data from actual code, we demarcate strings by putting quotation marks around them. Single quotes (') and double quotes (") are both valid, but the types of opening and closing quotation marks must match. The contents can be any sequence of characters, including numbers and symbols.

In [ ]:
"hello"

In [ ]:
'world'

## 2.3 Expressions

Expressions are the building blocks of programs, and they describe to the computer how to combine pieces of data. We can combine numbers using expressions. For example, we can add two numbers using + and multiply two numbers using \*. 

Run the following cell to evaluate the multiplication expression shown. The value of the expression, 12 in this case, will be displayed below the cell.

In [ ]:
3 * 4

When there are multiple expressions in a cell, only the value of the final expression will be automatically displayed upon running the cell. If you want to display the value of previous expressions, you must explicitly do so using `print`. Notice that 5 does not get displayed when you run the cell below.

## 2.4 Names

In natural language, we have terminology that lets us quickly reference very complicated concepts.  We don't say, "That's a large mammal with brown fur and sharp teeth!"  Instead, we say, "Bear!"

Similarly, an effective strategy for writing code is to define names for data as we compute it, like a lawyer would define terms for complex ideas at the start of a legal document. Names are given to values in Python using an **assignment statement**. In an assignment, a name is followed by =, which is followed by any expression. The value of the expression to the right of = is assigned to the name. Once a name has a value assigned to it, the value will be substituted for that name in future expressions.

In [ ]:
a = 10
b = 20
a + b

A previously assigned name can be used in the expression to the right of = .

In [ ]:
quarter = 1/4
half = 2 * quarter
half

These are sometimes alternatively called variables.  We say that the variable named `quarter` is equal to 0.25.

Names can also be used with strings.

# Exercise 5 Varialbe and Assignment (3 point)
## An assignment statement assigns the result of evaluating an expression to a variable. For example, replace "???" with your favorite movie, which is assigned to the variable "favorite_movie".

## As we have seen before, strings can be concatenated into a larger string using "+".  So, "+" in python does not always mean addition.

In [ ]:
favorite_movie = "???"
print("My favorite movie is " + favorite_movie)

# <a name="tables"></a>3. Introduction to Tables

If we want just the Salary of the data, we can use ".column" method of Table.  Since salaries is a Table, we can get the entire list of salaries using "salaries.colum("TotalPay")".  This will return an array of the salaries.
Similar to integers, floats, and strings, arrays are another **data type** that we can use in Python.

In [ ]:
salary_array = salaries.column("TotalPay")    # Select just the "TotalPay" column
print(salary_array)

If we want to get the top 100 salaries, we can first sort the salaries in descending order.  We can do this using ".sort" method of Table.

In [ ]:
# default sort order is ascending
sorted_salaries = salaries.sort("TotalPay") 
sorted_salaries.show(20)

When using `sort`, the default sort order is ascending (from lowest salary to highest salary). Since we are interested in getting top salaries, it is more convenient to sort the table in DESCENDING order (from highest slary to lowest salary).  We can do this  using the `descending` argument of `sort` with the boolean value `True`, shown below and. The `descending` argument is optional and is set to `False` when its value is not specified as in the previous case. 

Additional Note: In Python, whenever you see a function argument of the form `<argument name>=<argument value>`, the argument is optional and does not need to be passed in. Not passing in the argument will cause the default value (e.g., `False` is the default value of the `descending` argument) to be used.

# Exercise 6 (8 points)
Fill in the correct value for the descending parameter of salaries.sort so that the salary table can be sorted such that employees with highest TotalPay are on the top of the table.

In [ ]:
sorted_salaries2 = salaries.sort("TotalPay", descending=??)
sorted_salaries2.show(20)

## After you complete all six exercises, save the notebook by clicking on "File" on the upper left corner of Colab window, then select "Save".  You can do this any time while you are working on a Jupyter Notebook so that you do not loose changes you made to the notebook.
## Rename the Notebook file by clicking on the file name "Lab_1_Intro_to_Jupyter_Table_v2.ipynb" in the upper left corner to Lab1 followed by your Last Name, then your first name.  For example, a student with the name John Brown will rename the file as "Lab1BrownJohn.ipynb". Save the notebook using File > Save again.

# Congrats! 
# The last step is to convert this Jupyter Notebook file into an HTML file for submission to Canvas. To to this, you clicke on File, select "Upload Notebook", then choose the notebook "Convert_Jupyter_Notebook_To_HTML.ipynb". 
# Follow the instructions of this notebook to convert this ipynb file to an HTML file, then submit the HTML file to Canvas.